{
  "project_info": {
    "project_id": "placeholder",
    "project_number": "000000000000",
    "firebase_url": "https://placeholder.firebaseio.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000",
        "android_client_info": {
          "package_name": "nl.giejay.android.tv.immich",
          "certificate_hash": []
        }
      },
      "api_key": [
        {
          "current_key": "AIzaSyPlaceholderKey0000000000000000000000"
        }
      ],
      "oauth_client": [
        {
          "client_id": "000000000000-00000000000000000000000000000000.apps.googleusercontent.com",
          "client_type": 3
        }
      ]
    }
  ],
  "ARTIFACT_VERSION": "1"
}
